<div>
    <h2><a href="#{{include.id}}" id="{{include.id}}">{{include.title}}</a></h2>
    <p>{{include.description}}</p>
    {% if include.github_link %}
    <p>Open-source code available here: <a href="{{include.github_link}}" target="_blank">{{include.github_link}}</a></p>
    {% endif %}
    {% if include.iframe_src %}
        <iframe src="{{include.iframe_src}}" scrolling="no" frameborder="0" style="position: relative; height: {{include.iframe_height}}px; width: 100%;"></iframe>
    {% endif %}
    {% if include.img_src %}
        {% if include.explore_link %}
            <a href="{{include.explore_link}}" target="_blank"><img src="{{include.img_src}}" style="width:100%"/></a>
        {% else %}
            <img src="{{include.img_src}}" style="width:100%"/>
        {% endif %}
    {% endif %}
    {% if include.explore_link %}
        <p><a href="{{include.explore_link}}" target="_blank">Click here to explore</a></p>
    {% endif %}
</div>
<br>